[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/scala"]
	path = vim/bundle/scala
	url = https://github.com/superjudge/vim-scala.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
