[submodule "oh-my-zsh/.oh-my-zsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = git@github.com:lorrin/oh-my-zsh.git
[submodule "spf13-vim-3/.spf13-vim-3"]
	path = spf13-vim-3/.spf13-vim-3
	url = git@github.com:lorrin/spf13-vim.git
[submodule "zprezto/.zprezto"]
	path = zprezto/.zprezto
	url = git@github.com:lorrin/prezto.git
