[push]
	default = simple

[user]
	name = Lorrin Nelson
	email = lorrin@lorrin.org

[core]
	editor = vim

[pager]
# diff-so-fancy from https://github.com/so-fancy/diff-so-fancy
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
