[push]
	default = current

[user]
	name = Lorrin Nelson
	email = lorrin@lorrin.org

[core]
	editor = vim

[pager]
    # diff-so-fancy from https://github.com/so-fancy/diff-so-fancy
    #diff = diff-so-fancy | less --tabs=4 -RFX
    #show = diff-so-fancy | less --tabs=4 -RFX
    
    # delta from https://github.com/dandavison/delta#installation
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    # delta from https://github.com/dandavison/delta#installation
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    side-by-side = true

    # Theme from https://github.com/dandavison/delta/blob/master/themes.gitconfig
    # author: https://github.com/Kr1ss-XD
    commit-decoration-style = 232 130 box
    commit-style = 232 bold italic 130
    dark = true
    file-added-label = [+]
    file-copied-label = [C]
    file-decoration-style = "#606018" overline
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [R]
    file-style = 232 bold 184
    hunk-header-decoration-style = none
    hunk-header-style = syntax bold italic 237
    line-numbers = true
    line-numbers-left-format = "{nm:>1}┊"
    line-numbers-left-style = red
    line-numbers-minus-style = red italic black
    line-numbers-plus-style = green italic black
    line-numbers-right-format = "{np:>1}┊"
    line-numbers-right-style = green
    line-numbers-zero-style = "#545474" italic
    minus-emph-style = syntax bold "#780000"
    minus-style = syntax "#400000"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004000"
    syntax-theme = Vibrant Sunburst
    whitespace-error-style = "#280050" reverse
    zero-style = syntax

[commit]
	gpgsign = true
