[push]
    # Use upstream instead of simple so that local branches can be renamed and
    # still push to their upstream even though the names are no longer the same.
    default = upstream
    autoSetupRemote = true

[branch]
    # stop `git checkout -b my_branch origin/main` from setting origin/main as
    # the remote tracking branch. Instead, only set it up when the names match.
    # When it is left unset, autoSetupRemote will assume same-name.
    autoSetupMerge = simple

[user]
    name = Lorrin Nelson
    email = lorrin@lorrin.org

[core]
    editor = vim
    # delta from https://github.com/dandavison/delta
    pager = delta

[interactive]
    # delta from https://github.com/dandavison/delta
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = Coldark-Dark # See `delta --show-syntax-themes --dark`
    # navigate = true # Setting this doesn't seem to do anything?
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[commit]
    gpgsign = true

[add "interactive"]
    useBuiltin = false

[include]
    path = .gitconfig.local

[includeIf "gitdir:~/dg/"]
    path = ~/dg/.gitconfig
